<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TokenRequestEndpointUrl" value="https://login.salesforce.com/services/oauth2/token" />
    <add key="ConsumerKey" value="" />
    <add key="ConsumerSecret" value="" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="OrganizationId" value="" />
  </appSettings>
</configuration>
