<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TokenRequestEndpointUrl" value="https://login.salesforce.com/services/oauth2/token" />
    <add key="ConsumerKey" value="3MVG9HxRZv05HarRa7Cs8DetsAaEMtEMFkHjyuQOKq.XWxLV57g6tJoFHMD03bh0Zg24ktNlgYA==" />
    <add key="ConsumerSecret" value="9007686600125430703" />
    <add key="Username" value="david.humphreys-zulr@force.com" />
    <add key="Password" value="Mlmh084633930!NwQx51dMyqDg5xPlvCOILlzI" />
    <add key="OrganizationId" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
