<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TokenRequestEndpointUrl" value="https://login.salesforce.com/services/oauth2/token" />
    <add key="ConsumerKey" value="" />
    <add key="ConsumerSecret" value="" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="OrganizationId" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
