<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TokenRequestEndpointUrl" value="https://login.salesforce.com/services/oauth2/token"/>
    <add key="SecurityToken" value="eP4wdAvyZq8IK20FGJoKK3mr"/>
    <add key="ConsumerKey" value="3MVG9A2kN3Bn17hsEyMqRTTaEfT8PtpprMk4qQoUe0ep4brWttwhxV1kRg5KB2dW2Hs4kWExau.h8VLEFeo37"/>
    <add key="ConsumerSecret" value="2486043778523914463"/>
    <add key="Username" value="wade@sfdcapi.com"/>
    <add key="Password" value="Pa$$w0rd!"/>
  </appSettings>
</configuration>