<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TokenRequestEndpointUrl" value="https://login.salesforce.com/services/oauth2/token"/>
    <add key="SecurityToken" value="llLR6YuWwoiA8GElNSIv3NB3M"/>
    <add key="ConsumerKey" value="3MVG9JZ_r.QzrS7izXVWrETc3v0NfBxwFgCay87uv43B4MWDgRSVaTnGG.zn2r01Yk8tRk2ea5memOKg4hd22"/>
    <add key="ConsumerSecret" value="8439347496860439806"/>
    <add key="Username" value="api@dotnetbuild.com"/>
    <add key="Password" value="Pa$$w0rd!"/>
    <add key="OrganizationId" value=""/>
  </appSettings>
</configuration>
