<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TokenRequestEndpointUrl" value="https://login.salesforce.com/services/oauth2/token" />
    <add key="SecurityToken" value="6k3w6JJMXodrfHcWdueD1btJM" />
    <add key="ConsumerKey" value="3MVG9JZ_r.QzrS7izXVWrETc3v0NfBxwFgCay87uv43B4MWDgRSVaTnGG.zn2r01Yk8tRk2ea5memOKg4hd22" />
    <add key="ConsumerSecret" value="8439347496860439806" />
    <add key="Username" value="api@dotnetbuild.com" />
    <add key="Password" value="Pa$$w0rd!" />
    <add key="OrganizationId" value="00DF00000008H5t" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>